@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: #0d5585;
  font-weight: 900;
  margin-bottom: 30px;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #74ccef, #cdd6e1);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  margin: 3rem auto;
  max-width: 950px;
  padding: 2rem;
  border: 2px solid rgb(22, 106, 158);
 
  border-radius: 5px;
}

.header {
  margin: 1rem;
}

.doctorBtn {
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.dr {
  display: flex;
  gap: 1rem;
  justify-content: center;

  .doctorCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .nameDr {
    background-color: #cdd5d8;
    text-align: center;
    width: 135px;
    margin: 0.38rem;
    border-radius: 6px;
    overflow: hidden;
  }
}
/* 2. sayfadaki kayıt oluştur butonu */
.kayitBtn {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #61a6ea;
  width: 300px;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #6a0707;
  border-radius: 50px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  padding: 1rem;
  font-size: 17px;
  border-radius: 5px;
  border: none;
}

/*! data daki isDone kısmı false iken görünecek stil */
.falseStyle {
  display: flex;
  justify-content: space-between;
  background-color: #bdccdf;
  background-size: cover;
  background-position: center center;
  margin: 5px;
  padding: 10px 40px;
  cursor: pointer;
}
.falseStyle h2 {
  color: green;
}
.falseStyle h3 {
  color: #104a9b;
}
/*! data daki isDone kısmı true iken görünecek stil */
.trueStil {
  display: flex;
  justify-content: space-between;
  border-left: 10px solid blue;
  background-color: #3685ca;
  padding: 10px 20px;
}

.trueStil h3,
.trueStil h2 {
  text-decoration: line-through;
  color: black;
}
.doctorBtn + h4 {
  padding: 10px 20px;
  /* doctorBtn className li img den sonraki h4 doktor isimleri */
}
